<%- include('partials/head') %>
<%- include('partials/navbar') %>
<div class="w-100 d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="mt-4 p-5 bg-dark w-50 text-white rounded text-center">
        <h1 class="">Selamat datang di Perpus STEMBA! </h1>
        <p class="fs-5">Absen dengan scan QRcode kartu pelajar di Kamera disamping komputer</p>
    </div>
    
</div>
<%- include('partials/foot') %>